h1{
    font-size: 48px;
    font-weight: bold;
}
h2{
    font-size: 40px;
    font-weight: bold;
}

.btn-primary-syyle{
    background-color: #3333cc;
    width: 140px;
    height: 60px;
    border-radius: 10px;
}


/* header  */

.headerBG{
    background-color: #FFF9F4;
}
.HTitleColor{
    color: #FA804C;
}
