h1{
    font-size: 48px;
    font-weight: bold;
}
h2{
    font-size: 40px;
    font-weight: bold;
}

.btn-primary-syyle{
    background-color: #3333cc;
    width: 130px;
    height: 50px;
    border-radius: 10px;
}


/* header  */

.headerBG{
    background-color: #FFF9F4;
}
.HTitleColor{
    color: #FA804C;
}


.ImageBG{
    background-color: #f3f2f2;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    height: auto;
}
.PriceStyle{
    color: #FA804C;
}

.btn-primary-styles{
    background-color: #3333cc;
    border-radius: 10px;
}